/* Evolventa */
@font-face {
  font-family: "Evolventa";
  src: url("./evolventa/Evolventa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("./evolventa/Evolventa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("./evolventa/Evolventa-Oblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("./evolventa/Evolventa-BoldOblique.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Regular (вместо Oblik) */
@font-face {
  font-family: "Oblik";
  src: url("./montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("./montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oblik";
  src: url("./montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("./montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oblik";
  src: url("./montserrat/Montserrat-Italic.woff2") format("woff2"),
    url("./montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Montserrat для основного использования */
@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Thin.woff2") format("woff2"),
    url("./montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
    url("./montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Light.woff2") format("woff2"),
    url("./montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("./montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("./montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("./montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("./montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Black.woff2") format("woff2"),
    url("./montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Italic версии Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Italic.woff2") format("woff2"),
    url("./montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
    url("./montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
    url("./montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Apple Color Emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"),
    local("Noto Color Emoji");
  font-weight: normal;
  font-style: normal;
}
