html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  /* background-color: #1f2937; */
}

:root {
  /* Светлая тема (по умолчанию) */
  --bg: #ffffff;
  --text: #333333;
  --primary: #4285f4;
  --svgColor: #6b7280;
  --textNavHover: #eeeeee;
  --iconNavHover: #111827;
  --headerAccount: #f9f9f9;
  --headerAccountButtonColor: oklch(0.4 0.18 267 / 0.86);
  --headerAccountText: #6b7280;
  --tableAccountBg: rgb(243, 244, 246);
  --noAccountTableBg: #ebf5ff;
  --noAccountTableText: #17388d;
  --noAccountTableHover: rgb(243 244 246);
  --tabletextcolor: #000;
  --line: white;
  --tableHover: #ebebeb;
  --tableActiveButton: oklch(0.65 0.22 267 / 0.16);
  --tableActiveButtonColor: oklch(0.4 0.18 267 / 0.86);
  --backgroundComponentModal: rgba(117, 117, 117, 0.3);
  --modalColor: black;
  --modalBg: white;
  --scrolBg: #e1e1e1;
  --scrolColor: rgb(180, 180, 180);
}

[data-theme="dark"] {
  /* Тёмная тема */
  --bg: #1f2937;
  --body: oklch(0.17 0.001 267);
  --text: #ffffff;
  --headerAccount: #272727;
  --headerAccountButtonColor: #ffffff;
  --tableAccountBg: #323a46;
  --headerAccountText: #d4d4d4;
  --textNavHover: #323a46;
  --iconNavHover: #ffffff;
  --primary: #8ab4f8;
  --svgColor: #b2b4b8;
  --line: #41546e;
  --noAccountTableBg: #1d2127;
  --noAccountTableText: #bebebe;
  --noAccountTableHover: #323a46;
  --tabletextcolor: #ffffff;
  --tableHover: #2c3a4d;
  --tableActiveButton: #2b3d57;
  --tableActiveButtonColor: #929292;
  --backgroundComponentModal: rgba(0, 0, 0, 0.3);
  --modalColor: white;
  --modalBg: #1a1a1a;
  --scrolBg: #242f3e;
  --scrolColor: #1b222c;
}

thead {
  background: var(--tableAccountBg);
}
/* 
tr:hover {
  background: var(--noAccountTableHover);
  position: static;
} */

body {
  background: var(--body);
  color: var(--text);
  transition: all 0.3s ease;
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

span {
  margin: 0;
}

select {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

label {
  margin: 0;
}

input {
  outline: none;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

th,
td {
  margin: 0;
}

.table-container {
  /* scrollbar-width: thin; */
  /* scrollbar-color: #888 #f1f1f1; */
}
/* 
.table-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.black-fon {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background: var(--backgroundComponentModal);
  backdrop-filter: blur(1px); /* Добавляем размытие */
  -webkit-backdrop-filter: blur(1px); /* Для поддержки в Safari */
  top: 0;
  left: 0;
  transition: all 0.25s;
}

.black-fon,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.black-fon,
.fade-leave-to {
  opacity: 0;
}

.black-fon {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.line {
  background-color: #d9d9d9;
  height: 1px;
  margin: 12px 0 16px;
}

.pointer {
  cursor: pointer;
}
